@model Domain.OrderPerUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<div>
    <p>Order Date: @Model.OrderDate.ToString("D")</p>
    <p>Items:</p>
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>@item.Name - @item.Price</li>
        }
    </ul>
    <p>Total Price: @Model.TotalPrice</p>

    @using (Html.BeginForm("CancelOrder", "Order", FormMethod.Post))
    {
        @Html.Hidden("OrderId", "1")
        <input type="submit" value="Cancel Order"/>
    }
</div>
</body>
</html>
