@model Domain.OrderPerUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<div>
    <p>Order Id: @Model.OrderId</p>
    <p>Order Date: @Model.OrderDate.ToString("D")</p>
    <p>Items:</p>
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>@item.Name - @item.Price</li>
        }
    </ul>
    <p>Total Price: @Model.TotalPrice</p>

    
    @using (Html.BeginForm("AddItemToOrder", "Order", FormMethod.Post))
    {
        @Html.Hidden("OrderId", @Model.OrderId)
        @Html.Hidden("Name", "Pizza")
        @Html.Hidden("Price", "10")
        <input type="submit" value="Add Pizza (10$)"/>
    }
    
    @using (Html.BeginForm("AddItemToOrder", "Order", FormMethod.Post))
    {
        @Html.Hidden("OrderId", @Model.OrderId)
        @Html.Hidden("Name", "French Fried")
        @Html.Hidden("Price", "2")
        <input type="submit" value="Add French Fries (2$)"/>
    }
    
    @using (Html.BeginForm("AddItemToOrder", "Order", FormMethod.Post))
     {
         @Html.Hidden("OrderId", @Model.OrderId)
         @Html.Hidden("Name", "Soda Pop")
         @Html.Hidden("Price", "1")
         <input type="submit" value="Add Soda Pop (1$)"/>
     }
    
    
    @Html.ActionLink("Pay...", "PayOrder", "Order")
    
</div>
</body>
</html>
